doctype html
html(lang='en')
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/styles.css') 
  body
    header
      h1= title
      nav
        ul
          if user
            li
              a(href='/overview') Overview
            li
              a(href='/preferences') Update Preferences
            li
              a(href='/account') Account
          else
            li
              a(href='/login') Login
            li
              a(href='/signup') Signup
          

    block content  // This is where the page-specific content will go
