extends layout

block content
  h2 Login to Your Account
  form#loginForm(action='/api/v1/users/login', method='POST')
    div
      label(for='username') Username:
      input(type='text', name='username', id='username', required=true, placeholder="Enter your username")

    div
      label(for='password') Password:
      input(type='password', name='password', id='password', required=true, placeholder="Enter your password")

    button(type='submit') Login

  if alert
    p.alert= alert

  script(src='/js/login.js')
