extends layout

block content
  .container
    if alert
      p.alert= alert

    h2 Your Preferences Overview
    .preferences-list
      p Email Permission: 
        span.permission-status= user.permissions.email ? 'Granted' : 'Denied'
      p Phone Permission: 
        span.permission-status= user.permissions.phone ? 'Granted' : 'Denied'
      p Address Permission: 
        span.permission-status= user.permissions.address ? 'Granted' : 'Denied'

    .button-container
      a.button(href='/preferences') Update Your Preferences
