extends layout

block content
  h2 Update Your Preferences
  form(action='/update-preferences', method='POST')
    div
      label(for='email') Allow Email Sharing:
      input(type='checkbox', name='email', value='true', checked=user.permissions.email)
    div
      label(for='phone') Allow Phone Number Sharing:
      input(type='checkbox', name='phone', value='true', checked=user.permissions.phone)
    div
      label(for='address') Allow Address Sharing:
      input(type='checkbox', name='address', value='true', checked=user.permissions.address)
    
    button(type='submit') Save Preferences

  if alert
    p.alert= alert
